name: Build on master PR or push

on:  
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

env:
  DOCKER_CLI_EXPERIMENTAL: enabled

jobs:
  build:
    name: Build bitcoind image
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Checkout project
        uses: actions/checkout@v2

      - name: Set VERSION from env
        run: echo "VERSION=$(cat VERSION)" >> $GITHUB_ENV

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
        id: qemu

      - name: Setup Docker buildx action
        uses: docker/setup-buildx-action@v1
        id: buildx

      - name: Show available Docker buildx platforms
        run: echo ${{ steps.buildx.outputs.platforms }}

      - name: Test build in x64
        run: |
          docker buildx build \
          --platform linux/amd64 \
          --build-arg VERSION=${{ env.VERSION }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/test-build:test \
          --output "type=image,push=false" .
      
      - name: Test build okay
        run: |
          docker run --rm ${{ secrets.DOCKER_USERNAME }}/test-build:test \
          sh -c "bitcoind --version | grep ${{ env.VERSION }}"

      - name: Build multiarch and push to Docker Hub
        if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/master' }}
        run: |
          docker buildx build \
          --platform $(cat PLATFORMS | tr '\n' ',') \
          --build-arg VERSION=${{ env.version }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/bitcoind:${{ env.version }} \
          --tag ${{ secrets.DOCKER_USERNAME }}/bitcoind \
          --output "type=registry" .
